<!doctype html>
<head>
  <title>Let's check out Vue.js</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <style>
    body {
      margin: 2rem;
    }
    .demo {
      display: inline-block;
      width: 100px; height: 100px;
      background-color: grey;
    }
    .red { background-color: red; }
    .blue { background-color: blue; }
    .green { background-color: green; }
  </style>
</head>
<body>

  <h1>Let's learn Vue.js</h1>
  <hr>

  <h2>Basics</h2>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Hello World</h3></div>
    <div class="panel-body" id="app-1">
      {{ message }}
    </div>
    <div class="panel-body" id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Contitionals / Loops</h3></div>
    <div class="panel-body" id="app-3">
      <p v-if="seen">Now you see me</p>
      <p v-else="seen">Now you don't</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Handling User Input</h3></div>
    <div class="panel-body" id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div class="panel-body" id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading"><h3>Composing with Components</h3></div>
    <div class="panel-body" id="app-7">
      <strong>Grocery List</strong>
      <ol>
        <!-- Create an instance of the todo-item component -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>

      </ol>
    </div>
  </div>

  <h2>Listening to Data</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Accessing Data / Directives</h3></div>
    <div class="panel-body" id="app-8">
      <!-- v-once directive sticks to initial value and does not re-render with method -->
      <h3 v-once>{{ title }}</h3>
      <!-- v-bind directive allows attributes to take vue data -->
      <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
      <hr>
      <!-- v-html allows html content from data to be rendered -->
      <p v-html="finishedLink"></p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Events</h3></div>
    <div class="panel-body" id="app-9">
      <!-- use v-on to listen to events -->
      <button v-on:click="increaseCount(5, $event)">Add</button> <button v-on:click="decreaseCount(5, $event)">Subtract</button>
      <p>Count: {{ count }}</p>
      <p v-on:mousemove="updateCoords">
        Coordinates: {{ x }} / {{ y }}
        <!-- Event modifier .stop stops functions from firing // .prevent also works to prevent defaults -->
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
      </p>
      <input type="text" v-on:keyup.enter="alertMe">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Reactive Properties</h3></div>
    <div class="panel-body" id="app-10">
      <!-- v-model does data-binding -->
      <input type="text" v-model="name">
      <p>{{ name }}</p>
      <!-- computed vs method -->
      <button v-on:click="count++">Add</button> <button v-on:click="count--">Subtract</button>
      <button v-on:click="count2++">Counter2</button>
      <p>count: {{ count }} | {{ count2 }}</p>
      <p>result: {{ result() }} | {{ output }}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Shorthand</h3></div>
    <div class="panel-body" id="app-11">
      <!-- : = v-bind: -->
      <p><a :href="link">{{ title }}</a></p>
      <!-- @ = v-on: -->
      <button @click="changeLink">Change Link</button>
    </div>
  </div>

  <h2>Dynamic Styling</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Attaching styles</h3></div>
    <div class="panel-body" id="css-1">
      <div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
      <div class="demo" :class="divClasses"></div>
      <div class="demo" :class="[color, {red: attachRed}]"></div>
      <hr>
      <input type="text" v-model="color">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Setting Styles without Classes</h3></div>
    <div class="panel-body" id="css-2">
      <div class="demo" :style="{backgroundColor: color}"></div>
      <div class="demo" :style="myStyle"></div>
      <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
      <hr>
      <input type="text" v-model="color">
      <input type="text" v-model="width">
    </div>
  </div>

  <h2>Conditionals and Lists</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Conditionals</h3></div>
    <div class="panel-body" id="cd-1">
      <!-- template tags to not render to DOM but can be effected by vue.js -->
      <template v-if="visible">
        <p>I'm real!</p>
      </template>
      <template v-else>
        <p>Nothing here</p>
      </template>
      <br>
      <button @click="visible = !visible">Toggle</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Lists</h3></div>
    <div class="panel-body" id="lists-1">
      <h4>Objects</h4>
      <ul>
        <li v-for="person in people">
          <div v-for="(p, key, index) in person"><strong>{{ key }}:</strong> {{ p }} ({{ index }}) </div>
          <br>
        </li>
      </ul>
      <hr>
      <h4>Arrays</h4>
      <ul>
        <!-- v-for="(element, index) in array)" -->
        <!-- v-bind:key="i" assigns keys to each item to help vue js keep track, not necessary immediately but may help fix errors if list is manipulated -->
        <li v-for="(i, index) in ingredients" :key="i">{{ i }} ({{ index }})</li>
      </ul>
      <hr>
      <h4>Add new items</h4>
      <input type="text" v-model="newItem">
      <button @click="addNewItem()">Add Item</button>
      <hr>
      <h4>Numbers</h4>
      <span v-for="n in 10"> {{n}} </span>
    </div>
  </div>


<script src="script.js"></script>

</body>
